@use "reset";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fefefe;
  height: 64px;
  &__h1 {
    font-weight: bold;
    font-size: 2em;
  }
  &__nav {
  }
  &__ul {
    display: flex;
    justify-content: space-around;
    gap: 2em;
  }
  &__li {
  }
  &__a--nav {
  }
  &__menu--icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
  }
}

/* Hero Section */
.hero {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 255, 0, 0.5),
      rgba(255, 0, 0, 0.5)
    ),
    url("public/img/hero-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fefefe;

  .hero__container {
    max-width: 800px;
    text-align: center;
  }

  .hero__h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .hero__p {
    font-style: italic;
  }
}
